@import "variables";
@import "widgets";

.team{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__member{
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image-holder{
            width: 200px;
            height: 200px;
            border-radius: 150px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__name{
            font-size: 1.5em;
            font-weight: 600;
        }
        &__role{
            font-size: 1em;
        }
    }
}