@import "variables";
.contact{
  font-family: $font;
  background-color: $off-white;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;

}
.left{
  float: left;
  padding: 30px;

}
.right{
  float: right;
  padding-top: 30px;
  margin-right: 75px;

}
