@import "variables";

.site-header{
    display: flex;
    flex-direction: row;
    background-color: $transparent-white;
    color: $accent-color;
    justify-content: space-between;
    align-items: center;
    opacity: 50;
    position: fixed;
    width: 100%;
    top: 0;
    flex-wrap: wrap;
    z-index: 999;

    .site-branding{
        display: flex;
        flex-direction: row;
        align-items: center;
        a{
            text-decoration: none;
        }

        h1{
            font-size: 2em;
            color: $accent-color !important;
            padding: 0px 20px;
        }

        .custom-logo-link{
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 0px 0px 20px;
            img{
                max-width: 50px;
                max-height: 50px;
                width: auto !important;
                height: auto !important;
            }
        }

    }

    .main-navigation{
        li{
            list-style: none;
            display: inline-block;
            padding: 20px;
            a{
                text-decoration: none;
                &:hover{
                    color: $accent-color;
                }
            }
        }
    }

    .menu-toggle{
        display: none;
    }

    @media only screen and (max-width: 500px){
        .site-branding{
            .custom-logo-link{
                width: 30px;
                height: 30px;
                img{
                    max-width: 30px;
                    max-height: 30px;
                }
                padding: 0px 0px 0px 10px;
            }

            h1{
                font-size: 1.2em;
                padding: 0px 10px;
            }
        }

        .menu-toggle{
            margin: 0 10px;
            width: 30px !important;
            height: 30px !important;
            div{
                width: 30px !important;
            }
        }

        .open{
            div:nth-child(3){
                top: 25px !important;
            }
        }
    }

    @media only screen and (max-width: 900px){
        .main-navigation{
            display: none;

            ul{
                width: 100vw;
            }

            li{
                display: block;
            }
        }
        .menu-toggle{
            display: block;
            position: relative;
            width: 50px;
            height: 50px;
            margin-right: 20px;

            div{
                position: absolute;
                width: 50px;
                height: 5px;
                border-radius: 2px;
                opacity: 100;
                background-color: $accent-color;
                transition: 1s opacity, 1s top, 1s left, 1s transform;
            }

            

            &:hover{
                cursor: pointer;
            }
        }

        .open{
            div:nth-child(2){
                top: 50%;
                transform: translate(0, -50%);
            }

            div:nth-child(3){
                top: 45px;
            }
        }

        .close{

            div:nth-child(1){
                top: 50%;
                transform: translate(0, -50%) rotate(-45deg);
            }

            div:nth-child(2){
                top: 50%;
                transform: translate(0, -50%);
                opacity: 0;
            }

            div:nth-child(3){
                top: 50%;
                transform: translate(0, -50%) rotate(45deg);
            }
        }
    }
}