@import "variables.scss";


.entry-header{
    position: relative;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent-color;

    .title-group{
        position: absolute;
        background-color: $transparent-white;
        color: $dark-color;
        top: 50%;
        left: 100px;
        transform: translate(0, -50%);
        padding: 40px;
        font-size: 3em;

        h1{
            margin: 20px 0px;
        }
    }

    img{
        min-width: 100vw;
        min-height: 500px;
        width: auto !important;
        height: auto !important;
    }

    @media only screen and (max-width: 400px){
        .title-group{
            left: 20px;
        }
    }
}