@import "variables.scss";
@import "widgets.scss";


.entry-header{
    position: relative;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent-color;

    .title-group{
        position: absolute;
        background-color: $transparent-white;
        color: $dark-color;
        top: calc(50% + 40px);
        left: 100px;
        transform: translate(0, -50%);
        padding: 20px;
        font-size: 2em;
        max-width: 50vw;

        h1{
            margin: 20px 0px;
        }

        p{
            font-size: 0.6em;
        }

        .action-title{
            text-align: center;
        }

        .call-to-action{
            display: flex;
            flex-direction: row;
            justify-content: center;

            a{
                @include standard-button;
                text-decoration: none;
                font-size: 0.5em;
            }
        }
    }

    img{
        min-width: 100vw;
        min-height: 500px;
        width: auto !important;
        height: auto !important;
    }

    @media only screen and (max-width: 400px){
        height: 600px;
        .title-group{
            top: calc(50% + 20px);
            left: 20px;
            max-width: calc(100vw - 80px);
        }
        img{
            min-height: 600px;
        }
    }
}