.landing-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 40px 0px;
    .landing-right-well{
        width: calc(50vw - 50px);
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 300px !important;
            max-height: 800px;
            @media only screen and(max-width: 1200px){
                max-width: calc(100vw - 80px) !important;
            }
        }
    }

    &__left-side{
        width: calc(50vw - 200px);
        min-width: 300px;
        h1{
            text-align: center;
            width: 100%;
        }
    }
}