@import "variables";

a{
    color: $accent-color;

    &:visited{
        color: $dark-color;
    }
}

@mixin button-generator($background, $text){
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 1.5em;
    color: $text;
    background-color: $background;
    border: 2px solid $background;
    cursor: pointer;

    &:hover{
        background-color: transparent;
        color: $background;
    }
}

@mixin standard-button{
    @include button-generator($accent-color, $off-white);
}

@mixin light-button{
    @include button-generator($off-white, $dark-color);
}


button{
    @include standard-button;
}

.standard-button-link{
    @include standard-button;
    text-decoration: none;
    &:visited{
        color: $off-white;
        &:hover{
            color: $accent-color;
        }
    }
}

@mixin standard-input{
    border-radius: 5px;
    padding: 10px;
    color: $dark-color;
    background-color: white;
    border: none;
    width: calc(100% - 20px);
}